@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Anton");

body {
  padding: 20px;
  background-color: #36393f;
  color: #dfdfdf;
  font-family: "Roboto Mono";
  font-size: 14px;
  line-height: 22px;
  margin: 0 auto;
  max-width: 960px;
}

pre {
  color: #6079aa;
}

a {
  color: #6079aa;
  text-decoration: none;
}

a:hover {
  color: #51afef;
}

b {
  color: #dfdfdf;
}
b:hover {
  color: #51afef;
}

c {
  color: #dfdfdf;
}
c:hover {
  color: #51afef;
}

img {
  border-radius: 13px;
}

tiny {
  font-size: 9px;
}
h1 {
  font-size: 20px;
  color: #dfdfdf;
  margin-bottom: 0px;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  color: #6079aa;
  margin-bottom: 0px;
}

li {
  color: #6079aa;
}

p {
  padding: 0px;
  margin: 0px;
}

div.parent {
  text-align: center;
}

ul,
ol {
  text-align: left;
}

blockquote {
  display: inline-block;
  text-align: left;
}
