RewriteEngine On

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?xdbl\.dev [NC]
RewriteRule \.(png|jpe?g|gif|bmp|ico|webp)$ https://xdbl.dev/?i=%{REQUEST_URI} [R=301,L]